.sidebar-menu {
  flex: 1 1 auto;
  text-align: left;
  background-color: inherit;
  .sidebar-menu__item {
    line-height: 64px;
    &.disabled {
      color: rgba(0,0,0,0.2);
      cursor: not-allowed;
    }
  }
}