.home-main {
  width: 100%;
  padding: 50px;
  font-size: 16px;
  color: #222;
  .home-list {
    text-align: left;
    .home-list__item {
      margin-top: 30px;
      .home-list__item_block {
        padding: 10px 0;
        border-top: 1px solid #000721;
        .home-list__item_btn {
          margin-right: 30px;
          font-size: 16px;
        }
      }
    }
  }
}